# Configuration for {{.Domain}}
server {
    listen 80;
    server_name {{.Domain}};

    location / {
        proxy_pass {{.ServiceURL}};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    
    # Handle letsencrypt challenges
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}